* {
  box-sizing: border-box;
}

body {
  background: lightgoldenrodyellow;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #78ad75;
  font-family: sans-serif;
}
.reset {
  padding: 5px;
  width: 400px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}


h2 {
  margin: 0;
  font-size: 25px;
  color: #78ad75;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: #78ad75;
}

.hangman_play_area {
  padding-top: 10px;
  border: 3px solid black;
  width: 470px;
  height: 400px;
  position: absolute;
  left: 400px;
  top: 160px;
  border-radius: 25px;
}

.game-area {
  margin-left: 380px;
}

.right_colum {
  position: absolute;
  width: 175px;
  height: 310px;
  left: 890px;
  top: 160px;
  border-radius: 15px;
  cursor: pointer;
}
.box {
  border: 1px solid black;
  height: 35px;
  width: 35px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  background: #80aaff;
}

#letters {
  border: 3px solid black;
  padding: 5px;
  border-radius: 13px;
}

.guessed-word {
  border: 3px solid black;
  width: 280px;
  height: 150px;
  padding-bottom: 10px;
  margin: 120px 300px 0 0;
  border-radius: 15px;
}

.guessed-word ul {
  list-style: none;
}
.guessed-letter {
  display: inline-block;
}
